# UFC 1994 - 2025 : Data Analysis

## 1. Loading the dataset

In [17]:
import kagglehub
import pandas as pd
import os

In [13]:
os.environ['KAGGLEHUB_CACHE'] = r"D:\Coding\AllProjects\UFC2025\Dataset"

In [ ]:
path= kagglehub.dataset_download("aminealibi/ufc-fights-fighters-and-events-dataset")

#print("Path to dataset files:", path)

Downloading from https://www.kaggle.com/api/v1/datasets/download/aminealibi/ufc-fights-fighters-and-events-dataset?dataset_version_number=39...

100%|██████████| 2.89M/2.89M [00:01<00:00, 1.67MB/s]

Extracting files...

Path to dataset files: D:\Coding\AllProjects\UFC2025\Dataset\datasets\aminealibi\ufc-fights-fighters-and-events-dataset\versions\39

#### Loading individual dataset files :

In [18]:
events = pd.read_csv(r"Dataset\datasets\aminealibi\ufc-fights-fighters-and-events-dataset\versions\39\data\Events.csv")

In [20]:
fighters = pd.read_csv(r"Dataset\datasets\aminealibi\ufc-fights-fighters-and-events-dataset\versions\39\data\fighters.csv")

In [21]:
fighter_stats = pd.read_csv(r"Dataset\datasets\aminealibi\ufc-fights-fighters-and-events-dataset\versions\39\data\Fighters Stats.csv")

In [22]:
fights = pd.read_csv(r"Dataset\datasets\aminealibi\ufc-fights-fighters-and-events-dataset\versions\39\data\Fights.csv")

## 2. Exploratory Data Analysis and PreProcessing

#### 2.1 Events dataset

In [34]:
events.head(2)

,Event_Id,Name,Date,Location
0,38e5d9dcb0fddc42,UFC Fight Night: De Ridder vs. Allen,2025-10-18,"Vancouver, British Columbia, Canada"
1,9336e86cfd4ceaa1,UFC Fight Night: Oliveira vs. Gamrot,2025-10-11,"Rio de Janeiro, Rio de Janeiro, Brazil"

In [33]:
events.tail(2)

,Event_Id,Name,Date,Location
748,1a49e0670dfaca31,UFC 3: The American Dream,1994-09-09,"Charlotte, North Carolina, USA"
749,a6a9ab5a824e8f66,UFC 2: No Way Out,1994-03-11,"Denver, Colorado, USA"

In [25]:
events.dtypes

Event_Id    object
Name        object
Date        object
Location    object
dtype: object

In [27]:
## Converting Date column to correct data type
events['Date'] = pd.to_datetime(events['Date'], format='%Y-%m-%d')

##### This dataset covers events from UFC 2 on 1994/3/11 TO UFC Fight Night: DeRidder vs Allen on 2025/08/11

#### 2.2 Fights dataset

In [36]:
fights.head(2)

,Fighter_1,Fighter_2,KD_1,KD_2,STR_1,STR_2,TD_1,TD_2,SUB_1,SUB_2,...,Distance_%_1,Distance_%_2,Clinch_%_1,Clinch_%_2,Ground_%_1,Ground_%_2,Total Str._%_1,Total Str._%_2,Sig. Str._%_1,Sig. Str._%_2
0,Reinier de Ridder,Brendan Allen,0,0,22,9,1,3,1,1,...,0.60,0.12,1.00,1.00,1.0,0.7,0.85,0.72,0.69,0.59
1,Kevin Holland,Mike Malott,0,0,49,52,1,1,1,0,...,0.39,0.50,0.33,0.33,0.0,1.0,0.47,0.51,0.38,0.52